@model UsuarioProva

@{
    Layout = "_Layout";
    ViewData["Title"] = "Terceira Questão";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<div class="pageQuestion">
    <form asp-controller="TerceiraQuestao" asp-action="Index" class="formQuestion">
        <div>
            <p class="text-lg-start">Questão 3</p>
            <p class="text-lg-center">Prova: Matemátima e suas tecnologias</p>
            <hr>
            <p class="text-start">
                Um pesquisador observou, em uma árvore, um ninho de uma espécie de falcão.
                Apenas um filhote apresentava uma coloração típica de penas de ambos os pais.
                Foram coletadas amostras de DNA dos pais e filhotes para caracterização genética dos alelos responsáveis pela coloração das penas.
                O perfil de bandas obtido para cada indivíduo do ninho para os lócus 1 e 2, onde se localizam os genes dessa característica, está representado na figura.
            </p>
            <p>Dos filhotes, qual apresenta a coloração típica de penas dos pais?</p>
            <div>
                A
                <input type="radio" name="Resposta" value="0" />
                <label asp-for="Resposta.Value">1</label>
            </div>
            <div>
                B
                <input type="radio" name="Resposta" value="1" />
                <label asp-for="Resposta.Value">2</label>
            </div>
            <div>
                C
                <input type="radio" name="Resposta" value="2" />
                <label asp-for="Resposta.Value">3</label>
            </div>
            <div>
                D
                <input type="radio" name="Resposta" value="3" />
                <label asp-for="Resposta.Value">4</label>
            </div>
            <div>
                E
                <input type="radio" name="Resposta" value="4" />
                <label asp-for="Resposta.Value">5</label>
            </div>
        </div>
        <footer>
            <input type="submit" class="btn" value="Revisar Depois">
            <input type="submit" class="btn" value="Salvar" />
        </footer>
    </form>
</div>
